ErrorDocument 404 /404.html
ErrorDocument 403 /404.html

Options All -Indexes

RewriteEngine on
RewriteRule ^login$ /controllers/login.php [L]

RewriteEngine on
RewriteRule ^login/$ /login [R=301,L]

RewriteEngine on
RewriteRule ^inicio$ /controllers/inicio.php [L]

RewriteEngine on
RewriteRule ^inicio/$ /inicio [R=301,L]

<FilesMatch "((\.(lock|cache|db|inc))|CHANGELOG.md|README.md|^(.*\.config|.*\.example)(.*?))$">
	# Apache < 2.3
	<IfModule !mod_authz_core.c>
		Order allow,deny
		Deny from all
		Satisfy All
	</IfModule>

	# Apache ≥ 2.3
	<IfModule mod_authz_core.c>
		Require all denied
	</IfModule>
</FilesMatch>