
# HTID:10121173: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:10121173:


ErrorDocument 404 /404.html
ErrorDocument 403 /404.html

Options All -Indexes

RewriteEngine on
RewriteRule ^login$ /controllers/login.php [L]

RewriteEngine on
RewriteRule ^login/$ /login [R=301,L]

RewriteEngine on
RewriteRule ^inicio$ /controllers/inicio.php [L]

RewriteEngine on
RewriteRule ^inicio/$ /inicio [R=301,L]

RewriteEngine on
RewriteRule ^registro$ /controllers/registro.php [L]

RewriteEngine on
RewriteRule ^registro/$ /registro [R=301,L]

RewriteEngine on
RewriteRule ^logout$ /controllers/logout.php [L]

RewriteEngine on
RewriteRule ^logout/$ /logout [R=301,L]

RewriteEngine on
RewriteRule ^settings$ /controllers/settings.php [L]

RewriteEngine on
RewriteRule ^settings/$ /settings [R=301,L]

RewriteEngine on
RewriteRule ^datos$ /controllers/datos.php [L]

RewriteEngine on
RewriteRule ^datos/$ /datos [R=301,L]

RewriteEngine on
RewriteRule ^user$ /controllers/user.php [L]

RewriteEngine on
RewriteRule ^user/$ /user [R=301,L]

RewriteEngine on
RewriteRule ^tmp$ /controllers/tmp.php [L]

RewriteEngine on
RewriteRule ^tmp/$ /tmp [R=301,L]


<FilesMatch "((\.(lock|cache|db|inc))|CHANGELOG.md|README.md|^(.*\.config|.*\.example)(.*?))$">
        # Apache < 2.3
        <IfModule !mod_authz_core.c>
                Order allow,deny
                Deny from all
                Satisfy All
        </IfModule>

        # Apache ≥ 2.3
        <IfModule mod_authz_core.c>
                Require all denied
        </IfModule>

</FilesMatch>
